@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap');

body {
  margin: 0;
  background-color: rgb(244, 244, 244);
  font-family: 'Open Sans', 'Helvetica', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, body > div {
  height: 100%;
}